.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 0 auto;
}

.logo{
  display: flex;
  flex-direction: row;
  flex: 0.4;
  padding: 10px;
  margin: 10px;
  background-color: aqua;
}

.menu{
  display: flex;
  flex-direction: row;
  flex: 0.4;
  margin: 10px;
  background-color: brown;
  align-items: center;
}



h1{
  margin: 10px;
}